@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&family=Montserrat:wght@300;400;500;600&display=swap');

:root {
    --gold: #b8965a;
    --gold-light:#d4af70;
    --gold-dark: #8a6a30;
    --black: #0a0a0a;
    --dark: #111214;
    --dark2: #181a1e;
    --dark3: #22252b;
    --mid: #32363e;
    --light: #e8e4dc;
    --white: #f5f2ec;
    --muted: #7a7a7a;
    --font-display: 'Cormorant Garamond', serif;
    --font-body: 'Montserrat', sans-serif;
  }

  input,select,label,button{
    font-family:inherit;
    font-size:inherit;
  }

body {
  font-family: var(--font-body);
  background-color:rgb(11,11,11);
  color: var(--white);
  overflow-x: hidden;
  padding:0;
  margin:0;
}
body::selection{
  background-color:var(--muted);
  color:black;
}

/* NAVBAR STYLES */
nav{
  display:flex;
  justify-content:space-around;
  gap:.5rem;
  align-items:center;
  padding: 0rem .8rem;
  position:sticky;
  top:0;
  background:rgba(10, 10, 10, 0.85);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter:blur(20px);
  border-bottom: 1px solid rgba(184, 150, 90, 0.15);
  z-index:20;
}

.navigation-intro-text{
  color:var(--white);
  font-family:var(--font-display);
  font-weight:100;
}

.nav-intro-text{
  background-color:transparent;
  color:var(--white);
  font-size:1rem;
  border:none;
  display:none;
}

span{
  color:var(--gold)
}

.navigation-links{
  display:flex;
  gap:1rem;
}

.navigation-links svg{
  width:25px;
  height:25px;
}

.navigation-links button{
  text-decoration:none;
  color:var(--muted);
  font-weight:bold;
  font-size:.75rem;
  background-color:transparent;
  border:none;
  cursor:pointer;
  position:relative;
  width:fit-content;  
}

.navigation-links button:hover{
  color:var(--gold);
  transition:0.3s ease-in-out;
}

.navigation-links button::after{
  content:"";
  position:absolute;
  bottom: 0;
  left:0;
  width:0;
  height: 1px;
  background:var(--gold);
  transition: width 0.3s ease;
}

.navigation-links button:hover::after{
  width:100%;
}

.nav-button{
  padding:0.5rem .3rem;
  margin-left:.5rem;
  font-size:.5rem;
  cursor:pointer;
}

.login{
  background-color: transparent; 
  color:var(--gold-dark); 
  border:1px solid var(--gold-dark);
}

.signup{
  background-color:var(--gold);
  font-weight:bold;
  border:none;
}

.links-button{
  display:none;
}

.rolls-logo{
  background-color:transparent;
  border:none;
  cursor:pointer;
}

/* NAVBAR RESPONSIVE DESIGN */


@media (min-width:768px){
  .nav-intro-text{
    display:block;
    font-size:1.5rem;
  }

  .rolls-logo{
    display:none;
  }

  nav{
    justify-content:space-between;
  }
  
}


@media (min-width:1024px){
  .links-button{
  display:flex;
  font-size:1rem;
}

.navigation-links svg{
  display:none;
}

.nav-button{
  font-size:.8rem;
}

}
/* MAIN CONTENT INTRO TEXT */
.main_text{
  padding: 3rem 2rem;
}
.supscript{
  color: var(--gold);
  text-transform: uppercase;
  font-size:.75rem;
  font-weight:400;
  padding-top:2rem;
}

.title{
  color:var(--white);
  font-family:var(--font-display);
  font-size:3rem;
  font-weight:100;
  line-height:2.5rem;
  padding-top:3rem;
}

.title_span{
  font-style:italic;
}

.main_text_paragraph{
  color:var(--muted);
  font-size: 0.85rem;
  padding-bottom:2rem;
}

/* EXPLORE CONTAINER */

.explore_container{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding-bottom:2rem;
}

.explore_buttons_container{
  display:flex;
  gap:1rem;
}

.explore_collection{
  /* padding: 14px 36px; */
  background: var(--gold); 
  color: var(--black);
  border: none; 
  cursor: pointer; 
  font-family: var(--font-body);
  font-size: .5rem; 
  font-weight: 600; 
  text-transform: uppercase;
  transition: all 0.3s ease; 
  clip-path: polygon(0 0, calc(100% - 12px) 0, 100% 12px, 100% 100%, 12px 100%, 0 calc(100% - 12px));
}

.explore_story{
  background-color:transparent;
  color:var(--light);
  border: 1px solid var(--mid);
  padding:.5rem;
  font-size:0.5rem;
  font-weight:500
}

.stats_container{
  display:flex;
  gap:1rem;
}

.stats_number{
  color:var(--gold);
  font-size:1.5rem;
  font-family: var(--font-display);
  line-height:0rem;
}

.stats_text{
  font-size:.5rem;
  color: var(--muted)
}

/* MAIN CONTENT INTRO TEXT RESPONSIVE DESIGN */
@media(min-width:768px){
  .supscript{
    letter-spacing:.5rem;
    padding:3rem 0rem;
  }
  .title{
    font-size:4rem;
    line-height:3.5rem;
  }
  .explore_collection{
    padding:7px 18px;
    font-size:.6rem;
  }

  .explore_story{
    padding:1rem;
    font-size:.6rem;
  }

  .stats_number{
    font-size:2rem;
  }
}

@media(min-width:1024px){
  .title{
    font-size:6rem;
    line-height:4.5rem;
  }
  .explore_collection{
    padding:14px 36px;
    font-size:.8rem;
  }

  .explore_story{
    font-size:.8rem;
  }

  .stats_number{
    font-size:3rem;
  }

  .stats_text{
    font-size:.85rem;
  }
}

/* INFINITI CAROUSEL*/

.marquee-section{
  overflow:hidden;
  padding:2rem 0;
  background-color: var(--gold);
}

.marquee-track{
  display: flex;
  gap: 4rem;
  width:max-content;
  align-items:center;
  animation: marquee 20s linear infinite;
}

@media(min-width:768px){
  .marquee-track{
    gap:7rem;
  }
}

@media(min-width:1024px){
  .marquee-track{
    gap:10rem;
  }
}

.marquee-item{
  color:black;
  font-family:var(--font-display);
  font-size:1.5rem;
  font-weight:100;
}

.marquee-dot::after{
  content: ".";
  color:black;
  font-size:2rem;
  line-height:0rem;
  text-align:center;
  width:fit-content;
}

@keyframes marquee{
  from {transform: translateX(0);}
  to { transform: translateX(-50%);}
}

/* VEHICLES */


/* VEHICLES INTRO TEXT */
.vehicles_section{
  padding:7rem 2rem;
  background-color:rgb(17,18,20);
}

.vehicles_heading{
  font-size:3rem;
}
.categories_buttons_container{
  margin:2rem 0rem;
}

.category_button{
  background-color:transparent;
  font-weight:500;
  padding:.5rem .4rem;
  margin-right:.5rem;
  color:var(--muted);
  border: 1px solid var(--mid);
  text-transform:uppercase;
  font-size:0.7rem;
  font-weight:700;
}

@media(min-width:768px){
  .category_button{
    background-color:transparent;
    font-weight:500;
    padding:.5rem 1rem;
    margin-right:.5rem;
    font-size:0.75rem;
    font-weight:700;
    letter-spacing:2px;
  }
}

.vehicles_container{
  display:grid;
  grid-template-columns:repeat(1,1fr);
  gap:.2rem;
}

@media(min-width:768px){
  .vehicles_container{
    display:grid;
    grid-template-columns:repeat(2,1fr);
  }
}

@media(min-width:1024px){
  .vehicles_container{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:.2rem;
  }
}

@media(min-width:1380px){
  .vehicles_container{
    grid-template-columns:repeat(3,1fr);
  }
}

.vehicle_container{
  position:relative;
  height:20rem;
  overflow:hidden;
  cursor:pointer;
}

.vehicle_badge{
  position:absolute;
  top:1rem;
  right:1rem;
}

.vehicle_badge button{
  background-color:var(--gold);
  border:none;
  font-size:.75rem;
  font-weight:500;
  text-transform:uppercase;
  padding:.5rem;
  letter-spacing: .12rem;  
}

.vehicle_container::before{
  content:"";
  position:absolute;
  inset:0;
  background: linear-gradient(to top,rgba(0, 0, 0, 0.912),rgba(8, 8, 8, 0.437),transparent);
  z-index:1;
}

.vehicle_img{
  width:100%;
  height:100%;
  object-fit:cover;
  object-position:center 60%;
  transition: transform 0.3s ease;
}

.vehicle_container:hover .vehicle_img {
  transform: scale(1.1);
}


.vehicle_description{
  position:absolute;
  bottom:1rem;
  padding:0rem 2rem;
  z-index:10;
}

.vehicle_name{
  font-family:var(--font-display);
  font-size:2rem;
  font-weight:100;
  line-height:0rem;
}

.vehicle_stats{
  color:var(--gold);
  font-size:0.8rem;
  word-spacing:.3rem;
  text-transform:uppercase;
}

.vehicle-price-tag{
  display:grid;
  grid-template-columns:repeat(2, 1fr);
  gap:12rem;
}

.vehicle_price{
  font-family:var(--font-display);
  font-size:1.5rem;
}

.vehicle_config_button{
  background-color:transparent;
  color:var(--gold);
  border: 1px solid var(--gold-dark);
  font-size:0.7rem;
  width:fit-content;
  padding:0rem 2rem;
}

/* HERITAGE SECTION */

.heritage_container{
  padding:2rem 12rem;
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--dark2);
  
}

.heritage_image{
  width: 100%;
  height:30rem;
  box-shadow:
  0 4px 6px rgba(0,0,0,0.1),
  0 10px 20px rgba(0,0,0,0.15),
  0 20px 40px rgba(0,0,0,0.2);
  
}

.heritage_text{
  background-color:var(--dark3);
  padding:1.8rem;
  box-shadow: 
0 4px 6px rgba(0,0,0,0.1),
0 10px 20px rgba(0,0,0,0.15),
0 20px 40px rgba(0,0,0,0.2);
}

#heritage_title{
  border: 1px solid var(--gold);
  color:var(--gold);
  font-size:0.78rem;
  padding:1rem;
  font-weight:300;
}

.heritage_heading{
  font-size:3.5rem;
  line-height:3rem;
}

.heritage_paragraph{
  color:var(--muted);
  font-size:0.85rem;
}

.heritage_button{
  background-color:var(--gold);
  padding:1rem;
  border:none;
  font-size:0.75rem;
  font-weight:bold;
  margin-top:1rem;
  cursor:pointer;
}


/* EXPERIENCE HEADING */
.experience_heading{
  font-size:3rem;
}

.experience_section{
  padding:7rem 2rem;
}

.testimonials_container{
  display:flex;
  gap:.3rem;
}

.testimonial-card{
  background-color: var(--dark3);
  padding:2rem;
}

.testimonial-stars{
  padding:1.5rem 0rem;
}

.testimonial-text{
  font-size:1.1rem;
  font-style:italic;
  font-family: var(--font-display);
  font-weight:100;
  line-height:2rem;
  letter-spacing:.05rem;
  color: var(--light)
}

.testimonial-name{
  text-transform:uppercase;
  font-weight:bold;
  color: var(--white);
  font-size:.8rem;
}

.testimonial-location{
  color: var(--gold);
  font-size:0.75rem;
}

/* JOIN THE MOVEMENT SECTION */

.join-container{
  text-align:center;
  background-color: rgb(32,34,40);
  padding:5rem 2rem;
}

.join_span{
  font-size:0.75rem;
}

.join-heading{
  line-height:2rem;
  font-size:4rem;
}

.join-text{
  font-size:.75rem;
  color:var(--muted);
  font-weight:500;
}

.join-form{
  margin:3rem 0rem;
}

.join-form input, button{
  padding:1rem;
}

.join-form input{
  border: 1px solid var(--gold);
  background-color:rgb(44,46,49);
  width:20%;
  color:var(--muted)
}

.join-form input::placeholder{
  font-size:.8rem;
}

.join-form button{
  border: 1px solid var(--gold);
  background-color: var(--gold);
}


/* FOOTER STYLING */

.footer-heading{
  font-size:2rem;
}

.footer-text{
  font-size: .8rem;
  color:var(--muted)
}

.footer-main-content{
  display:grid;
  grid-template-columns:repeat(3,1fr);
}

.footer-container{
  padding: 5rem 2rem;
  display:flex;
  justify-content:space-between;
  padding-right:10rem;
}

.footer-content ul, li{
  list-style:none;
}

.footer-content-heading{
  color: var(--gold);
  text-transform: uppercase;
  font-size:.78rem;
  font-weight:500;
}

.footer-link{
  color: var(--muted);
  font-size:.8rem;
}

.footer-bottom{
  display:flex;
  justify-content:space-between;
  border-top:1px solid var(--dark3);
  color:var(--muted);
  font-size: .8rem;
  padding: 2rem 2rem;
}


/* ABOUT PAGE */

.about-heading{
  text-align:center;
  margin-top:30vh;
  font-family:var(--font-display);
  color: var(--muted);
}



/* CONTACT PAGE */

.reservation_section{
  padding:2rem;
}

.reserve_heading{
  font-size: 4rem;
  padding:1rem 0rem;
}

.reservation_form_heading{
  font-size:3rem;
}

.reservation_intro_text_heading{
  padding-top:5rem;
  padding-bottom:3rem;
}

.join_content_container{
  display:grid;
  grid-template-columns:repeat(2, 1fr);
  background-color:rgb(24,26,30);
}

.address_info_container{
  background-color:rgb(34,37,43);
  padding: 3rem 2rem;
}

.address_supscript{
  padding-bottom:3rem;
}

.address_title{
  font-weight:300;
  padding-bottom:2rem;
}

.addres_info_container div{
  padding: 1rem 0rem;
}

.address_info_container h1{
  font-size:.75rem;
  color: var(--gold);
}

.address_info_container p{
  font-size:.9rem;
  font-weight:200;
  color:var(--muted)
}

/* RESERVATION FORM */

.reservation_heading{
  line-height:0rem;
  font-size:2rem;
}

.reservation_intro_text{
  margin-bottom:2rem;
  margin-top:2rem;
}

.user_initials{
  display:flex;
  gap:1rem;
  align-items:center;
  width:100%
}

.reservation_form input::placeholder{
  color:var(--muted);
  font-size:.85rem;
}

.reservation_form input, select,textarea{
  background-color:rgb(33,35,39);
  border: 1px solid rgb(63,58,49);
  color:var(--muted);
  padding:.7rem .5rem;
  margin:.5rem 0rem;
  width:40rem;
  box-sizing: border-box;
}

.reservation_form textarea{
  font-family:inherit;
}

.reservation_form label{
  color:var(--gold-dark);
  font-size:.75rem;
  padding:.5rem 0rem;
  line-height:0rem;
  display:block
}

.reservation_form button{
  background-color:var(--gold);
  color:black;
  border:none;
  width:40rem;
}

.reservation_form{
  padding:3rem 2rem;
}

.registration-supscript{
  font-size:.7rem;
}

.registration_heading{
  padding: 2rem 0rem;
}

/* LOGIN PAGE */
.login_container{
  display:flex;
  justify-content:center;
  flex-direction:column;
  background-color:rgb(24,26,30);
  border: 1px solid rgb(52,48,40);
  padding:2rem;
  width:fit-content;
  margin:3.5rem auto;
}

.login_heading{
  font-size:3rem;
  color:var(--white);
  line-height:0rem;
}

.login_heading_container{
  display:flex;
  justify-content:space-between;
}

.login_paragraph{
  color:var(--muted);
  font-size:.8rem;
}

.login_close_button{
  align-self:flex-start;
  background-color:transparent;
  border: 1px solid rgb(64,66,69);
  color:white;
  cursor:pointer;
}

.login_container input, label, button{
  font-family:inherit;
}

.login_container label{
  text-transform:uppercase;
  color:var(--gold);
  font-size:.7rem;
  font-weight:500;
  letter-spacing:.06rem;
}

.login_container input{
  background-color:rgb(33,35,39);
  border:1px solid rgb(59,55,48);
  padding:.6rem 0rem;
  padding-left:.7rem;
  margin:.5rem 0rem;
  width:24.3rem;
  color:var(--muted);
}

.login_container input::placeholder{
  color:var(--muted);
  font-size:.8rem;
}


.login_container form button{
  background-color:var(--gold);
  border:none;
  width:25rem;
  margin:2rem 0rem;
  padding:.7rem;
  font-size:.8rem;
  font-weight:600;
}

.no-account-text{
  text-align:center;
  font-size:.8rem;
  color:var(--muted);
}

.signup-link{
  color:var(--gold)
}

/* ABOUT CONTENT */

.about_intro_text{
  background-color:var(--black);
  text-align:center;
  padding:5rem 0rem;
}

.about_mission{
  background-color:rgb(17,18,20);
  padding:5rem 0rem;
  text-align:center;
}

.mission_heading{
  font-size:3.5rem;
}

.mission_paragraph{
  width:50%;
  margin:0 auto;
  text-align:center;
  padding:.7rem 0rem;
  color:var(--muted);
  font-size:.9rem;
}

.mission_span{
  font-style:italic;
}

.about_heritage_section{
  background-color:var(--dark2);
}

.about_heritage_container{
  text-align:center;
  padding: 5rem 0rem;
}

.about_heritage_heading{
  font-size:4rem;
}

.about_heritage_span{
  font-style:italic;
}

.timeline_container{
  width:fit-content;
  margin:0 auto;
  padding:0rem 9rem;
  padding-bottom:6rem;
}

.event{
  display:flex;
  align-items:center;
  padding: 1rem 0rem;
  border-left: 1px solid;
  border-image-source: linear-gradient(to top, var(--gold), transparent);
  border-image-slice: 5;
  padding-left: 4rem;
}

.event-year{
  display:flex;
  gap:2rem;
}

.event_dot{
  font-size:6rem;
  line-height:0rem;
}

.event_year{
  padding-right:1.5rem;
  font-size:.8rem;
  font-weight:200;
}

.event_dot{
  padding-right:1.5rem;
}

.event_title{
  font-size:1rem;
}

.event_desc{
  color:var(--muted);
  font-size:.85rem;
  width:90%;
}

.about_vehicle_stats{
  display:flex;
  justify-content:center;
  gap:1rem;
  background-color:rgb(17,18,20);
}


.statics_container{
  background-color:rgb(34,37,43);
  padding: 3rem 6rem;
  margin:5rem 0rem;
  display:flex;
  flex-direction:column;
}

.stats_numerical{
  font-family:var(--font-display);
  color:var(--gold);
  font-size:3rem;
  line-height:0rem;
  text-align:center;
}

.stats_text{
  text-transform:uppercase;
  font-weight:700;
}

.footer-button{
  background-color:transparent;
  color:rgb(128,126,123);
  border:none;
  padding: .5rem 0rem;
}

.footer-button:hover{
  color:var(--gold)
}

/* SUBMIT MESSAGE */

.submit-message{
  background-color:rgb(34,37,43);
  font-size:.8rem;
  color:var(--muted);
  padding:12px;
  border-radius:4px;
  margin-top:16px;
  text-align:center;
  animation:slideIn 0.3s ease;
  border:1px solid var(--gold);
}

@keyframes slideIn{
  from{opacity: 0; transform: translateY(-10px);}
  to {opacity:1; transform: translateY(0);}
}

button:disabled {
  color:black;
  cursor:not-allowed;
}

